body {
    margin: 0;
    padding: 0;
    font-family: "Reddit Sans", "sans-serif";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    font-variation-settings:
    "wdth" 100;
    background-color: #F5F5F5;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.main {
  flex: 1;
  overflow: auto;
}

.logo {
    width: 5rem;
    background-color: rgba(90,75,218,1);
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    overflow: auto;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px whitesmoke solid;
    box-shadow: 0px 5px 9px grey;
    background-color: rgba(90,75,218,1);
}

ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
    font-weight: 350;
}

ul li {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 400;
}

ul li a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

ul li:hover {
    transition: all 0.3s ease;
    border: 1px white solid;
}

/* Responsive Styles */
@media (max-width: 400px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #4a4aff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 15px;
    border-radius: 0 0 0 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
/* */

.main {
    height: 100vh;
}

.middle {
    display: flex;
    place-items: center;
    flex-direction: column;
    margin-top: 12rem;
    line-height: 4rem;
}

.heading {
    font-weight: 500;
    font-size: 56px;
    color: #555555;
}

.paragraph {
    font-size: 20px;
}

.paragraph :hover {
    color: rgba(90,75,218,1);
    font-weight: 200;
}

button {
    cursor: pointer;
    margin-top: 8px;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 19px;
    background-color: rgba(90,75,218,1);
    color: #FFFFFF;
    /* border: none; */
}

button:hover {
    background-color: white;
    color: rgba(90,75,218,1);
    border: 1px solid rgba(90,75,218,1);
    opacity: 1;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.course-Details {
    display: flex;
    place-items: center;
     margin-top: 12rem;
     font-weight: 450;
    font-size: 30px;
    flex-direction: column;
}

.grid-container {
    display: grid;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 5rem;
    padding: 10px;
    margin-top: 2rem;
}

.grid-items {
     display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 0 10px;
    height: 20rem;
    width: 17rem;
    line-height: 25px;
    border-radius: 0.5rem;
    background-color: #fff;
    /* color: rgba(90,75,218,1); */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.course-name {
    color: #222222;
    font-size: 21px;
}

.description {
    margin-top: 35px;
    word-wrap: wrap;
    justify-content: center;
}

.btn {
    cursor: pointer;
    margin-top: 2rem;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 15px;
    background-color: rgba(90,75,218,1);
    color: #FFFFFF;
    border: none;
}

.btn:hover {
    background-color: white;
    color: rgba(90,75,218,1);
    border: 1px solid rgba(90,75,218,1);
    opacity: 1;
    transition: all 0.3s ease;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    justify-content: space-between;
    gap: 2rem;
    background: rgb(237, 235, 226);
    color: black;
    padding: 20px;
    border-top: #222222;
    overflow: hidden;
}

.left-footer {
  /* border: 1px black solid; */
  margin-left: 3rem;
}

.left-footer img {
    width: 4rem;
}

.left-footer1 {
  display: flex;
  align-items: center;
}

.left-footer span {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 95%;
}

.left-footer2 {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 15px;
  word-wrap: wrap;
  justify-content: center;
}

.left-footer3 {
  margin-top: 2rem;
}

.social {
  font-size: 20px;
  font-weight: 500;
}

.social-handle {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.social-handle img {
  width: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}