body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    font-variation-settings:
    "wdth" 100;
    background-color: #F5F5F5;
}

.navbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 7rem;
    border-bottom: 1px whitesmoke solid;
    box-shadow: 0px 5px 9px grey;
    background-color: rgba(90,75,218,1);
}

.logo {
    display: inline-block;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
    font-weight: 350;
}

ul li {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 400;
}

ul li:hover {
    transition: all 0.3s ease;
    border: 1px white solid;
}

.main {
    height: 100vh;
}

.middle {
    display: flex;
    place-items: center;
    flex-direction: column;
    margin-top: 12rem;
    line-height: 4rem;
}

.heading {
    font-weight: 500;
    font-size: 56px;
    color: #555555;
}

.paragraph {
    font-size: 20px;
}

.paragraph :hover {
    color: rgba(90,75,218,1);
    font-weight: 200;
}

button {
    cursor: pointer;
    margin-top: 8px;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 19px;
    background-color: rgba(90,75,218,1);
    color: #FFFFFF;
    /* border: none; */
}

button:hover {
    background-color: white;
    color: rgba(90,75,218,1);
    border: 1px solid rgba(90,75,218,1);
    opacity: 1;
    transition: all 0.3s ease;
}

.course-Details {
    display: flex;
    place-items: center;
     margin-top: 12rem;
     font-weight: 450;
    font-size: 30px;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 10px;
    margin-top: 2rem;
}

.grid-items {
     display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 5px;
    height: 20rem;
    width: 17rem;
    line-height: 25px;
    border: 2px rgba(90,75,218,1) solid;
    border-radius: 5px;
    background-color: rgb(242,241,236);
    color: rgba(90,75,218,1);
}

.course-name {
    color: #222222;
    font-size: 21px;
}

.description {
    margin-top: 35px;
    word-wrap: wrap;
    justify-content: center;
}

.btn {
    cursor: pointer;
    margin-top: 2rem;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 15px;
    background-color: rgba(90,75,218,1);
    color: #FFFFFF;
    border: none;
}

.btn:hover {
    background-color: white;
    color: rgba(90,75,218,1);
    border: 1px solid rgba(90,75,218,1);
    opacity: 1;
    transition: all 0.3s ease;
}

.footer {
    background-color: rgb(249, 248, 246);
}