<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typing Animation</title>
  <link rel="stylesheet" href="/stylesheets/HomePage.css">
  
</head>
<body>
      <div class="box">
        <h1>Get Things Done with <span>Task Manager</span></h1>
        <p>A minimal, elegant todo app that helps you focus on what matters. Organize your day and stay productive.</p>
        <form action="/TodoPage" method="get">
            <button type="submit">Get Started</button>
        </form>
      </div>
</body>

<!-- <script>
  function openWebsite(){
    window.location.href = "/TodoPage";
  }
</script> -->
</html>
