<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/stylesheets/TodoPage.css">
</head>
<body>
    <div class="box">
        <h1>Your <span>Tasks</span></h1>
        <div class="TodoBox">
        <input type="text" placeholder="Write the todo...">
        <button>Add</button>
        </div>

        <div class="todo-list">
            
    </div>
</body>
<script src="index.js"></script>
</html>